{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% block title %}
    {% endblock %}
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e7e7e7;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="{% static 'bober.png' %}" width="40" height="40" class="d-inline-block align-center" alt="">
        Гимназия 56
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/timetable">Расписание</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Дневник</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/minimum">Минимум</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help" tabindex="-1" aria-disabled="true">Помощь</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Main part of the webpage. Use { extends base.html } to use this template. -->
  {% block content %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
<footer class="footer my-10 py-3" style="background-color: #e7e7e7;">
  <div class="container">
    <div>
      <div class="row">
        <div class="col-md-6">
          <a href="/" class="text-decoration-none">Домашняя страница</a>
        </div>
        <div class="col-md-6">
          <a href="/timetable" class="text-decoration-none">Расписание</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="text-decoration-none">Дневник</a>
        </div>
        <div class="col-md-6">
          <a href="/minimum" class="text-decoration-none">Образовательный минимум</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="text-decoration-none">Новости</a>
        </div>
        <div class="col-md-6">
          <a href="#" class="text-decoration-none">О проекте</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="{% url 'social' %}" class="text-decoration-none">Гимназия в соцсетях</a>
        </div>
        <div class="col-md-6">
          <a href="#" class="text-decoration-none">Поддержка</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="https://school56.org" class="text-decoration-none">Сайт гимназии</a>
        </div>
        <div class="col-md-6">
          <a href="/admin" class="text-decoration-none">Панель администрирования</a>
        </div>
      </div>
    </div>
  </div>
</footer>
</html>