{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Помощь</title>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h2>Помощь</h2>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab" aria-controls="v-pills-about" aria-selected="true">О сайте</a>
                    <a class="nav-link" id="v-pills-timetable-tab" data-toggle="pill" href="#v-pills-timetable" role="tab" aria-controls="v-pills-timetable" aria-selected="false">Расписание</a>
                    <a class="nav-link" id="v-pills-diary-tab" data-toggle="pill" href="#v-pills-diary" role="tab" aria-controls="v-pills-diary" aria-selected="false">Дневник</a>
                    <a class="nav-link" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab" aria-controls="v-pills-admin" aria-selected="false">Администраторам</a>
                    <a class="nav-link" id="v-pills-dev-tab" data-toggle="pill" href="#v-pills-dev" role="tab" aria-controls="v-pills-dev" aria-selected="false">Разработчикам</a>
                </div>
                </div>
                <div class="col-sm-12 col-lg-9">
                <div class="tab-content mx-5" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab">
                        <p>
                            Этот сайт сделан в рамках проекта "Школа IT-решений" от ГФМЛ№30 группой учеников из
                            56, 289, 777 и 610 школ.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-timetable" role="tabpanel" aria-labelledby="v-pills-timetable-tab">
                        <p>
                            На этом сайте вы можете просмотреть расписание. Для того, чтобы это сделать, перейдите <a href="/timetable" class="text-decoration-none">сюда</a>.
                            Вы также можете <a href="/timetable/download" class="text-decoration-none">скачать расписание в формате .pdf</a>, которое взято с официального
                            <a href="https://school56.org" class="text-decoration-none">сайта гимназии</a> или просмотреть расписание онлайн.
                            Для этого выберите ваш класс и параллель и нажмите на кнопку. Вы увидете таблицу с расписанием на всю неделю.
                            Если вы попали на страницу с ошибкой, к примеру, отстутствие вашего класса в базе данных, то обратитесь к
                            администраторам сайта, к примеру, Гусеву Максиму из 8"З".
                        </p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-diary" role="tabpanel" aria-labelledby="v-pills-diary-tab">
                        ...
                    </div>
                    <div class="tab-pane fade" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
                        ...
                    </div>
                    <div class="tab-pane fade" id="v-pills-dev" role="tabpanel" aria-labelledby="v-pills-dev-tab">
                        <p>
                            У этого проекта есть open-sourse <a href="https://github.com/AlanTheKnight/school-diary">репозиторий на GitHub</a>.
                            Сайт сделан при помощи фреймворка Django и Bootstrap 4.
                        </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}