{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Войти в аккаунт</title>
{% endblock %}

{% block content %}
<div class="container py-5">
	<div class="row">
		<div class=" py-2">
			<div class="card">
				<div class="card-body content-justify-center">
					<h5 class="card-title">Войти</h5>
					<div>
                    <form>
						<div class="form-group">
							{% csrf_token %}
                            {{ form|crispy }}
							<a href="#">Забыли пароль?</a>
                            <button type="submit" class="btn btn-primary">Залогиниться</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class=" py-2">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Нет аккаунта?</h5>
					<p>Бесплатно зарегистрируйтесь в системе и получите
						доступ к электронному дневнику, домашнему заданию,
						минимумам и расписанию. 
					</p>
                    <a href="{% url 'registration' %}" class="btn btn-primary">Создаь аккаунт</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}