{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Новости</title>
<style>
    .post-image{
        object-fit: scale-down;
    }
</style>
{% endblock %}

{% block content %}
<div class="container my-5">
    {% if pub %}
    <div class="row my-5">
        {% for post in pub %}
        <div class="col-sm-4 my-3">
            <div class="card h-100">
                {% if post.image %}
                <img class="card-img-top post-image" src="{{ post.image.url }}" alt="Изображение" height="196">
                {% endif %}
                <div class="card-body">
                    <div class="card-title">
                        <h5>{{ post.title }}</h5>
                        <p class="text-muted">{{ post.publication_date }}</p>
                        <a class="btn btn-primary my-2" href="articles/{{ post.slug }}">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-muted text-justify-center">Новостей пока что нет.</p>
    {% endif %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if prev > 0 %}
            <li class="page-item">
                <a class="page-link" href="{{ prev }}">&lt</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">&lt</a>
            </li>
            {% endif %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="{{ current }}">{{ current }}<span class="sr-only">(current)</span></a>
            </li>
            {% if amount > 0 %}
            <li class="page-item">
                <a class="page-link" href="{{ next }}">&gt</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="{{ next }}">&gt</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}