{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Расписание</title>
{% endblock %}

{% block content %}
    <div class="container my-5">
                <form method="POST" class="my-5 mx-5">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
                </form>
            </div>
        </div>


    </div>
{% endblock %}