{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Мы в соцсетях</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-sm-4 my-3">
            <div class="card h-100">
                <a href="https://vk.com/56spb"><img src="{% static 'vk.png' %}" class="card-img-top" alt="https://vk.com/56spb"></a>
            </div>
        </div>
        <div class="col-sm-4 my-3">
            <div class="card h-100">
                <a href="https://www.youtube.com/channel/UCok_SeNqVxeLHHbza8R9TPg"><img src="{% static 'youtube.png' %}" class="card-img-top" alt="https://www.youtube.com/channel/UCok_SeNqVxeLHHbza8R9TPg"></a>
            </div>
        </div>
        <div class="col-sm-4 my-3">
            <div class="card h-100">
                <a href="https://www.instagram.com/56spb/"><img src="{% static 'instagram.png' %}" class="card-img-top" alt="https://www.instagram.com/56spb/"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}