{% extends 'base.html' %}

{% block title %}
<title>Скачать расписание в PDF</title>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Скачать расписание в PDF</h5>
            <div class="row">
                <div class="col-lg-3 col-md-4 my-3">
                    <div class="list-group">
                        <li class="list-group-item list-group-item-info"><b>Старшая школа</b></li>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/11.pdf">Понедельник</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/12.pdf">Вторник</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/13.pdf">Среда</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/14.pdf">Четверг</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/15.pdf">Пятница</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/16.pdf">Суббота</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 my-3">
                    <div class="list-group">
                        <li class="list-group-item list-group-item-info"><b>Средняя школа</b></li>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/21.pdf">Понедельник</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/22.pdf">Вторник</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/23.pdf">Среда</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/24.pdf">Четверг</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/25.pdf">Пятница</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/26.pdf">Суббота</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 my-3">
                    <div class="list-group">
                        <li class="list-group-item list-group-item-info"><b>Младшая школа на Крестовском</b></li>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/31.pdf">1 классы</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/32.pdf">2 классы</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/33.pdf">3 классы</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/34.pdf">4 классы</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 my-3">
                    <div class="list-group">
                        <li class="list-group-item list-group-item-info"><b>Младшая школа на Пудожской</b></li>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/41.pdf">1 классы</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/42.pdf">2 классы</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/43.pdf">3 классы</a>
                        <a class="list-group-item list-group-item-action text-decoration-none" href="{{ MEDIA_URL }}/media/pdf/timtable/44.pdf">4 классы</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}