{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Расписание</title>
{% endblock %}

{% block content %}
<div class="container my-5">
    <p>{{ grade }}</p>
    {% if monday.count > 0 %}
    <table class="table">
        <tr>
            <th>Номер</th>
            <th>День недели</th>
            <th>Предмет</th>
        </tr>
        {% for lesson in monday %}
        <tr>
            <td>{{ lesson.number }}</td>
            <td>{{ lesson.day }}</td>
            <td>{{ lesson.subject }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}